@using Noviembre.Core.Entidades
@Model List<Estado>
 

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Estados</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="@Url.Action("Registro", "Estado", new {id = 0})"class="btn btn-primary"> Agregar nuevo</a>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Estado e in Model)
                                    {
                                        <tr>
                                            <td>
                                                @e.Nombre
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Registro", "Estado", new {id = e.Id})" class="btn fa fa-edit btn-primary btn-circle"></a>

                                               
                                                <a onclick="eliminar(@e.Id)" class="btn fa fa-trash btn-danger btn-circle"></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <script src="~/Content/js/noviembre/estado.js"></script>


